{% extends "base.html" %}
{% load static %}
{% block title %}Password Reset{% endblock title %}

{% block content %}

<!-- page-title -->
        <div class="tf-page-title style-2">
            <div class="container-full">
                <div class="heading text-center" style="color: white;">Password Reset</div>
            </div>
        </div>
        <!-- /page-title -->

        <section class="flat-spacing-10">
            <div class="container">
                <div class="tf-grid-layout lg-col-2 tf-login-wrap">
                    <div class="tf-login-form">
                        
                        <div id="login">
                            <h5 class="mb_36">Reset your password</h5>
                            {% if validlink %}
                            <div>
                                {{ form.new_password1.errors }}
                                {{ form.new_password2.errors }}
                                <form method="post" accept-charset="utf-8">
                                {% csrf_token %}

                                <div class="tf-field style-1 mb_15">
                                     
                                    <input class="tf-field-input tf-input"
                                        type="password"
                                        name="{{ form.new_password1.name }}"
                                        id="id_new_password1"
                                        placeholder=""
                                        required />
                                    
                                    <label class="tf-field-label fw-4 text_black-2" for="id_new_password1">
                                        New Password
                                    </label>
                                   
                                </div>

                                <div class="tf-field style-1 mb_30">
                                    
                                    <input class="tf-field-input tf-input"
                                        type="password"
                                        name="{{ form.new_password2.name }}"
                                        id="id_new_password2"
                                        placeholder=""
                                        required />
                                    
                                    <label class="tf-field-label fw-4 text_black-2" for="id_new_password2">
                                       Confirm Password
                                    </label>
                                    
                                </div>

                                <div>
                                    <button type="submit"
                                            class="tf-btn w-100 radius-3 btn-fill animate-hover-btn justify-content-center">
                                        Change your password
                                    </button>
                                </div>
                            </form>

                            </div>
                            {% else %}
                            <p>The password reset link was invalid, possibly because it has already
                              been used. Please request a new password reset.</p>
                            {% endif %}
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

{% endblock content %}