{% extends "base.html" %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}

{% block content %}

<!-- page-title -->
        <div class="tf-page-title style-2">
            <div class="container-full">
                <div class="heading text-center" style="color: white;">Password Reset Complete</div>
            </div>
        </div>
        <!-- /page-title -->

        <section class="flat-spacing-10">
            <div class="container">
                <div class="tf-grid-layout lg-col-2 tf-login-wrap">
                    <div class="tf-login-form">
                        
                        <div id="login">
                            <h5 class="mb_36">Password Reset Completed</h5>
                            
                           <p>Your password has been set. You can <a href="{% url 'login' %}" class="tf-btn btn-line radius-3">Log in now</a>.
</p>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

{% endblock content %}