{% load static %}
{% load static_pages %}

<!-- Footer -->
<footer id="footer" class="footer md-pb-70">
    <div class="footer-wrap">
        <div class="footer-body">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-12">
                        <div class="footer-infor">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="images/logo/logo.svg" alt="">
                                </a>
                            </div>
                            <ul>
                                <li>
                                    <p>Address: 1234 Fashion Street, Suite 567, <br> New York, NY 10001</p>
                                </li>
                                <li>
                                    <p>Email: <a href="#">info@fashionshop.com</a></p>
                                </li>
                                <li>
                                    <p>Phone: <a href="#">(212) 555-1234</a></p>
                                </li>
                            </ul>
                            <a href="{% url 'content:static_page_detail' slug='contact' %}" class="tf-btn btn-line">Get direction<i
                                    class="icon icon-arrow1-top-left"></i></a>


                            <ul class="tf-social-icon d-flex gap-10">
                                {% for link in social_links %}
                                    <li>
                                        <a href="{{ link.url }}" class="box-icon w_34 round social-{{ link.name|lower }} social-line" target="_blank" rel="noopener noreferrer">
                                            <i class="{{ link.icon_class }}"></i>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>



                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-12 footer-col-block">
                        <div class="footer-heading footer-heading-desktop">
                            <h6>Help</h6>
                        </div>
                        <div class="footer-heading footer-heading-moblie">
                            <h6>Help</h6>
                        </div>
                        <ul class="footer-menu-list tf-collapse-content">
                            <li>
                                <a href="{% url 'content:static_page_detail' slug='privacy-policy' %}" class="footer-menu_item">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="{% url 'content:static_page_detail' slug='delivery-return' %}" class="footer-menu_item"> Returns + Exchanges
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'content:static_page_detail' slug='shipping-delivery' %}" class="footer-menu_item">Shipping</a>
                            </li>
                            <li>
                                <a href="{% url 'content:static_page_detail' slug='terms-and-conditions' %}" class="footer-menu_item">Terms &amp;
                                    Conditions</a>
                            </li>
                            <li>
                                <a href="{% url 'content:static_page_detail' slug='faq' %}" class="footer-menu_item">FAQ’s</a>
                            </li>
                           
                        </ul>
                    </div>
                    <div class="col-xl-3 col-md-6 col-12 footer-col-block">
                        <div class="footer-heading footer-heading-desktop">
                            <h6>About us</h6>
                        </div>
                        <div class="footer-heading footer-heading-moblie">
                            <h6>About us</h6>
                        </div>
                        <ul class="footer-menu-list tf-collapse-content">
                            <li>
                                <a href="{% url 'content:static_page_detail' slug='about-us' %}" class="footer-menu_item">Our Story</a>
                            </li>
                           
                            <li>
                                <a href="{% url 'content:static_page_detail' slug='contact' %}" class="footer-menu_item">Contact Us</a>
                            </li>
                            {% if request.user.is_authenticated %}
                               <li>
                                <a href="{% url 'dashboard' %}" class="footer-menu_item">Account</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url 'login' %}" class="footer-menu_item">Account</a>
                            </li>
                            {% endif %}
                            
                        </ul>
                    </div>
                    <div class="col-xl-3 col-md-6 col-12">
                        <div class="footer-newsletter footer-col-block">
                            <div class="footer-heading footer-heading-desktop">
                                <h6>Sign Up for Email</h6>
                            </div>
                            <div class="footer-heading footer-heading-moblie">
                                <h6>Sign Up for Email</h6>
                            </div>
                            <div class="tf-collapse-content">
                                <div class="footer-menu_item">Sign up to get first dibs on new arrivals, sales,
                                    exclusive content, events and more!</div>


                                    {% comment "" %}
                                    
                                    
                                <form class="form-newsletter subscribe-form" id="" action="#" method="post"
                                    accept-charset="utf-8" data-mailchimp="true">
                                    <div class="subscribe-content">
                                        <fieldset class="email">
                                            <input type="email" name="email-form" class="subscribe-email"
                                                placeholder="Enter your email...." tabindex="0"
                                                aria-required="true">
                                        </fieldset>
                                        <div class="button-submit">
                                            <button id=""
                                                class="subscribe-button tf-btn btn-sm radius-3 btn-fill btn-icon animate-hover-btn"
                                                type="button">Subscribe<i
                                                    class="icon icon-arrow1-top-left"></i></button>
                                        </div>
                                    </div>
                                    <div class="subscribe-msg"></div>
                                </form>
                                {% endcomment %}


                                <form id="footer-subscribe-form" class="form-newsletter subscribe-form" action="#" method="post" accept-charset="utf-8"> 
    <div class="subscribe-content">
        <fieldset class="email">
            <input
                type="email"
                name="email"
                id="footer-subscribe-email"
                class="subscribe-email"
                placeholder="Enter your email..."
                required
                autocomplete="email"
            >
        </fieldset>
        <div class="button-submit">
            <button
                id="footer-subscribe-button"
                class="subscribe-button tf-btn btn-sm radius-3 btn-fill btn-icon animate-hover-btn"
                type="button"
            >
                Subscribe <i class="icon icon-arrow1-top-left"></i>
            </button>
        </div>
    </div>
    <div id="footer-subscribe-msg" class="subscribe-msg" role="alert" aria-live="polite"></div>
</form>




                               



                                <div class="tf-cur">
                                    <div class="tf-currencies">
                                        <select class="image-select center style-default type-currencies">
                                            <option data-thumbnail="images/country/fr.svg">EUR € | France
                                            </option>
                                            <option data-thumbnail="images/country/de.svg">EUR € | Germany
                                            </option>
                                            <option selected data-thumbnail="images/country/us.svg">USD $ |
                                                United States</option>
                                            <option data-thumbnail="images/country/vn.svg">VND ₫ | Vietnam
                                            </option>
                                        </select>
                                    </div>
                                    <div class="tf-languages">
                                        <select class="image-select center style-default type-languages">
                                            <option>English</option>
                                            <option>العربية</option>
                                            <option>简体中文</option>
                                            <option>اردو</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div
                            class="footer-bottom-wrap d-flex gap-20 flex-wrap justify-content-between align-items-center">
                            <div class="footer-menu_item">© {% now "Y" %} My Tailor Demo. All Rights Reserved</div>
                            <div class="tf-payment">
                                <img src="{% static 'images/payments/visa.png' %}" alt="">
                                <img src="{% static 'images/payments/img-1.png' %}" alt="">
                                <img src="{% static 'images/payments/img-2.png' %}" alt="">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->

</div>



<!-- gotop -->
<button id="goTop">
<span class="border-progress"></span>
<span class="icon icon-arrow-up"></span>
</button>
<!-- /gotop -->






<!-- mobile menu -->
    <div class="offcanvas offcanvas-start canvas-mb" id="mobileMenu">
        <span class="icon-close icon-close-popup" data-bs-dismiss="offcanvas" aria-label="Close"></span>
        <div class="mb-canvas-content">
            <div class="mb-body">

                <ul class="nav-ul-mb" id="wrapper-menu-navigation">
    {% for main in links %}
    <li class="nav-mb-item">
        <a href="#dropdown-{{ main.id }}" class="collapsed mb-menu-link" data-bs-toggle="collapse"
            aria-expanded="false" aria-controls="dropdown-{{ main.id }}">
            <span>{{ main.name }}</span>
            <span class="btn-open-sub"></span>
        </a>
        <div id="dropdown-{{ main.id }}" class="collapse">
            <ul class="sub-nav-menu" id="sub-menu-{{ main.id }}">
                {% for category in main.categories.all %}
                <li>
                    <a href="#category-{{ category.id }}" class="sub-nav-link collapsed" data-bs-toggle="collapse"
                        aria-expanded="false" aria-controls="category-{{ category.id }}">
                        <span>{{ category.name }}</span>
                        <span class="btn-open-sub"></span>
                    </a>
                    <div id="category-{{ category.id }}" class="collapse">
                        <ul class="sub-nav-menu sub-menu-level-2">
                            {% for sub in category.subcategories.all %}
                            <li>
                                <a href="{{ sub.get_absolute_url }}" class="sub-nav-link">{{ sub.name }} ({{ sub.product_count }})</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% endfor %}

                

                {% if main.name == "Features" %}
                {% for category in navbar_categories%}
                <li class="my-2">
                    <a href="{{ category.get_absolute_url }}">
                       
                        <span>{{ category.name }}</span> 
                        
                    </a>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </li>
    {% endfor %}

    <!-- static page mobile navbar -->

    

         {% get_static_pages as pages %}
                                    {% for page in pages %}
              <li class="nav-mb-item" style="margin:5px;">
                                        <a href="{% url 'content:static_page_detail' slug=page.slug %}" class="item-link">
                                        {{ page.title }}

                                        </a>
                                        
                                    </li>
                                    
                                    {% endfor %}
                               

    </li>




</ul>

                
                <br/><br/>
                <div class="mb-other-content">
                    <div class="d-flex group-icon">
                        
                        <a href="{% url 'search:search' %}" class="site-nav-icon"><i class="icon icon-search"></i>Search</a>
                    </div>
                    <div class="mb-notice">
                        <a href="{% url 'content:static_page_detail' slug='contact' %}" class="text-need">Need help ?</a>
                    </div>
                    <ul class="mb-info">
                        <li>Address: 1234 Fashion Street, Suite 567, <br> New York, NY 10001</li>
                        <li>Email: <b>info@fashionshop.com</b></li>
                        <li>Phone: <b>(212) 555-1234</b></li>
                    </ul>
                </div>
            </div>
            <div class="mb-bottom">

                <!-- mobil menu bottom login, dashboard, name-->



               <div class="tf-brands-filter">
    {% if request.user.is_authenticated %}
        <a href="{% url 'dashboard' %}" class="tf-btns-filter tf-tab-link">
            <span>Dashboard</span>
        </a>

        <span class="tf-btns-filter tf-tab-link" style="cursor: default;">
            {{ user.first_name|default:user.username }}
        </span>

        <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="tf-btns-filter tf-tab-link logout-button">
                <span>Logout</span>
            </button>
        </form>
    {% else %}
       
        <a href="{% url 'login' %}" class="site-nav-icon"><i class="icon icon-account"></i>Login</a>
    {% endif %}
</div>


              




                
                
                <div class="bottom-bar-language">
                    <div class="tf-currencies">
                        <select class="image-select center style-default type-currencies">
                            <option data-thumbnail="images/country/fr.svg">EUR € | France</option>
                            <option data-thumbnail="images/country/de.svg">EUR € | Germany</option>
                            <option selected data-thumbnail="images/country/us.svg">USD $ | United States</option>
                            <option data-thumbnail="images/country/vn.svg">VND ₫ | Vietnam</option>
                        </select>
                    </div>
                    <div class="tf-languages">
                        <select class="image-select center style-default type-languages">
                            <option>English</option>
                            <option>العربية</option>
                            <option>简体中文</option>
                            <option>اردو</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /mobile menu -->


{% comment %}



    <!-- toolbar-bottom -->
    <div class="tf-toolbar-bottom type-1150">
        <div class="toolbar-item">
            <a href="#toolbarShopmb" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft">
                <div class="toolbar-icon">
                    <i class="icon-shop"></i>
                </div>
                <div class="toolbar-label">Shop</div>
            </a>
        </div>

        <div class="toolbar-item">
            <a href="#canvasSearch" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft">
                <div class="toolbar-icon">
                    <i class="icon-search"></i>
                </div>
                <div class="toolbar-label">Search</div>
            </a>
        </div>
        <div class="toolbar-item">
            <a href="#login" data-bs-toggle="modal">
                <div class="toolbar-icon">
                    <i class="icon-account"></i>
                </div>
                <div class="toolbar-label">Account</div>
            </a>
        </div>
        
        
    </div>
    <!-- /toolbar-bottom -->






  <!-- toolbarShopmb -->
    <div class="offcanvas offcanvas-start canvas-mb toolbar-shop-mobile" id="toolbarShopmb">
        <span class="icon-close icon-close-popup" data-bs-dismiss="offcanvas" aria-label="Close"></span>
        <div class="mb-canvas-content">
            <div class="mb-body">

                <ul class="nav-ul-mb" id="wrapper-menu-navigation">
    {% for main in links %}
    <li class="nav-mb-item">
        <a href="#menu-{{ forloop.counter }}" class="tf-category-link has-children collapsed mb-menu-link"
            data-bs-toggle="collapse" aria-expanded="false" aria-controls="menu-{{ forloop.counter }}">
            <div class="image">
                {% if main.image %}
                    <img src="{{ main.image.url }}" alt="{{ main.name }}">
                {% else %}
                    <img src="{% static 'images/placeholder.png' %}" alt="{{ main.name }}">
                {% endif %}
            </div>
            <span>{{ main.name }}</span>
            <span class="btn-open-sub"></span>
        </a>

        <div id="menu-{{ forloop.counter }}" class="collapse list-cate">
            <ul class="sub-nav-menu">
                {% for category in main.categories.all %}
                <li>
                    <a href="#sub-menu-{{ forloop.parentloop.counter }}-{{ forloop.counter }}"
                        class="tf-category-link has-children sub-nav-link collapsed"
                        data-bs-toggle="collapse"
                        aria-expanded="false"
                        aria-controls="sub-menu-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                        <div class="image">
                            {% if category.image %}
                                <img src="{{ category.image.url }}" alt="{{ category.name }}">
                            {% else %}
                                <img src="{% static 'images/placeholder.png' %}" alt="{{ category.name }}">
                            {% endif %}
                        </div>
                        <span>{{ category.name }}</span>
                        <span class="btn-open-sub"></span>
                    </a>

                    <div id="sub-menu-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" class="collapse">
                        <ul class="sub-nav-menu sub-menu-level-2">
                            {% for sub in category.subcategories.all %}
                            <li>
                                <a href="{{ sub.get_absolute_url }}" class="tf-category-link sub-nav-link">
                                    <div class="image">
                                        {% if sub.image %}
                                            <img src="{{ sub.image.url }}" alt="{{ sub.name }}">
                                        {% else %}
                                            <img src="{% static 'images/placeholder.png' %}" alt="{{ sub.name }}">
                                        {% endif %}
                                    </div>
                                    <span>{{ sub.name }} ({{ sub.product_count }})</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endfor %}
</ul>



            </div>
            <div class="mb-bottom">
                <a href="{% url 'store:store' %}" class="tf-btn fw-5 btn-line">View all collection<i
                        class="icon icon-arrow1-top-left"></i></a>
            </div>
        </div>
    </div>
    <!-- /toolbarShopmb -->



{% endcomment %}




<!-- canvasSearch -->
<div class="offcanvas offcanvas-end canvas-search" id="canvasSearch">
<div class="canvas-wrapper">
    <header class="tf-search-head">
        <div class="title fw-5">
            Search our site
            <div class="close">
                <span class="icon-close icon-close-popup" data-bs-dismiss="offcanvas" aria-label="Close"></span>
            </div>
        </div>
        <div class="tf-search-sticky">
            <form class="tf-mini-search-frm">
                <fieldset class="text">
                    <input type="text" placeholder="Search" class="" name="text" tabindex="0" value=""
                        aria-required="true" required="">
                </fieldset>
                <button class="" type="submit"><i class="icon-search"></i></button>
            </form>
        </div>
    </header>
    <div class="canvas-body p-0">
        <div class="tf-search-content">
            <div class="tf-cart-hide-has-results">
                <div class="tf-col-quicklink">
                    <div class="tf-search-content-title fw-5">Quick link</div>
                    <ul class="tf-quicklink-list">
                        <li class="tf-quicklink-item">
                            <a href="shop-default.html" class="">Fashion</a>
                        </li>
                        <li class="tf-quicklink-item">
                            <a href="shop-default.html" class="">Men</a>
                        </li>
                        <li class="tf-quicklink-item">
                            <a href="shop-default.html" class="">Women</a>
                        </li>
                        <li class="tf-quicklink-item">
                            <a href="shop-default.html" class="">Accessories</a>
                        </li>
                    </ul>
                </div>
                <div class="tf-col-content">
                    <div class="tf-search-content-title fw-5">Need some inspiration?</div>
                    <div class="tf-search-hidden-inner">
                        <div class="tf-loop-item">
                            <div class="image">
                                <a href="product-detail.html">
                                    <img src="{% static 'images/products/white-3.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <a href="product-detail.html">Cotton jersey top</a>
                                <div class="tf-product-info-price">
                                    <div class="compare-at-price">$10.00</div>
                                    <div class="price-on-sale fw-6">$8.00</div>
                                </div>
                            </div>
                        </div>
                        <div class="tf-loop-item">
                            <div class="image">
                                <a href="product-detail.html">
                                    <img src="{% static 'images/products/white-2.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <a href="product-detail.html">Mini crossbody bag</a>
                                <div class="tf-product-info-price">
                                    <div class="price fw-6">$18.00</div>
                                </div>
                            </div>
                        </div>
                        <div class="tf-loop-item">
                            <div class="image">
                                <a href="product-detail.html">
                                    <img src="{% static 'images/products/white-1.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <a href="product-detail.html">Oversized Printed T-shirt</a>
                                <div class="tf-product-info-price">
                                    <div class="price fw-6">$18.00</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /canvasSearch -->


{% comment "modal login" %}


<!-- modal login -->
    <div class="modal modalCentered fade form-sign-in modal-part-content" id="login">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="header">
                    <div class="demo-title">Log in</div>
                    <span class="icon-close icon-close-popup" data-bs-dismiss="modal"></span>
                      {% include "includes/alerts.html" %}
                </div>
                <div class="tf-login-form">
                    <form class="" action="{% url 'login' %}" method="post" accept-charset="utf-8">
                        {% csrf_token %}
                        <div class="tf-field style-1">
                            <input class="tf-field-input tf-input" placeholder=" " type="email" 
                            name="email" id="login-email">
                            <label class="tf-field-label" for="login-email">Email *</label>
                           
                        </div>
                        <div class="tf-field style-1">
                            <input class="tf-field-input tf-input" placeholder=" " type="password" 
                            name="password" id="login-password">
                            <label class="tf-field-label" for="login-password">Password *</label>
                            
                        </div>

                        <div>
                            <a href="#forgotPassword" data-bs-toggle="modal" class="btn-link link">Forgot your
                                password?</a>
                        </div>
                        <div class="bottom">
                            <div class="w-100">
                                <button type="submit"
                                    class="tf-btn btn-fill animate-hover-btn radius-3 w-100 justify-content-center"><span>Log
                                        in</span></button>
                            </div>
                            <div class="w-100">
                                <a href="#register" data-bs-toggle="modal" class="btn-link fw-6 w-100 link">
                                    New customer? Create your account
                                    <i class="icon icon-arrow1-top-left"></i>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
<div class="modal modalCentered fade form-sign-in modal-part-content" id="forgotPassword">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="header">
            <div class="demo-title">Reset your password</div>
            <span class="icon-close icon-close-popup" data-bs-dismiss="modal"></span>
        </div>
        <div class="tf-login-form">
            <form class="" action="" method="post">
                <div>
                    <p>Sign up for early Sale access plus tailored new arrivals, trends and promotions. To opt
                        out, click unsubscribe in our emails</p>
                </div>
                <div class="tf-field style-1">
                    <input class="tf-field-input tf-input" placeholder=" " type="email" name="">
                    <label class="tf-field-label" for="">Email *</label>
                </div>
                <div>
                    <a href="#login" data-bs-toggle="modal" class="btn-link link">Cancel</a>
                </div>
                <div class="bottom">
                    <div class="w-100">
                        <button type="submit"
                            class="tf-btn btn-fill animate-hover-btn radius-3 w-100 justify-content-center"><span>Reset
                                password</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<div class="modal modalCentered fade form-sign-in modal-part-content" id="register">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="header">
            <div class="demo-title">Register</div>
            <span class="icon-close icon-close-popup" data-bs-dismiss="modal"></span>
              {% include "includes/alerts.html" %}
        </div>
        <div class="tf-login-form">
            <form class="" action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="tf-field style-1">
                    <input class="tf-field-input tf-input" placeholder=" " type="text" name="{{ form.first_name.name }}" value="{{ form.first_name.value }}">
                    <label class="tf-field-label" for="">First name</label>
                </div>
                <div class="tf-field style-1">
                    <input class="tf-field-input tf-input" placeholder=" " type="text" name="{{ form.last_name.name }}" value="{{ form.last_name.value }}">
                    <label class="tf-field-label" for="">Last name</label>
                </div>
                <div class="tf-field style-1">
                    <input class="tf-field-input tf-input" placeholder=" " type="email" name="{{ form.email.name }}" value="{{ form.email.value }}">
                    <label class="tf-field-label" for="">Email *</label>
                </div>
                <div class="tf-field style-1">
                    <input class="tf-field-input tf-input" placeholder=" " type="password" name="{{ form.password.name }}" value="">
                    <label class="tf-field-label" for="">Password *</label>
                </div>
                <div class="bottom">
                    <div class="w-100">
                        <button type="submit"
                            class="tf-btn btn-fill animate-hover-btn radius-3 w-100 justify-content-center"><span>Register</span></button>
                    </div>
                    <div class="w-100">
                        <a href="#login" data-bs-toggle="modal" class="btn-link fw-6 w-100 link">
                            Already have an account? Log in here
                            <i class="icon icon-arrow1-top-left"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<!-- /modal login -->


{% endcomment %}





{% comment "" %}


<!-- auto popup  -->
<div class="modal modalCentered fade auto-popup modal-newleter">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-top">
            <img class="lazyload" data-src="{% static 'images/item/auto-popup-banner.png' %}"
                src="{% static 'images/item/auto-popup-banner.png' %}" alt="home-01">
            <span class="icon icon-close btn-hide-popup" data-bs-dismiss="modal"></span>
        </div>
        <div class="modal-bottom">
            <h4 class="text-center">Don’t mis out</h4>
            <h6 class="text-center">Be the first one to get the new product at early bird prices.</h6>
            <form id="subscribe-form" action="#" class="form-newsletter" method="post" accept-charset="utf-8"
                data-mailchimp="true">
                <div id="subscribe-content">
                    <input type="email" name="email-form" id="subscribe-email" placeholder="Email *">
                    <button type="button" id="subscribe-button"
                        class="tf-btn btn-fill radius-3 animate-hover-btn w-100 justify-content-center">Keep me
                        updated</button>
                </div>
                <div id="subscribe-msg"></div>
            </form>
            <div class="text-center">
                <a href="#" data-bs-dismiss="modal" class="tf-btn btn-line fw-6 btn-hide-popup">Not
                    interested</a>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /auto popup  -->
{% endcomment %}


<!-- auto popup  -->
<div class="modal modalCentered fade auto-popup modal-newleter" tabindex="-1" aria-labelledby="newsletterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-top position-relative">
        <img class="lazyload w-100" data-src="{% static 'images/item/auto-popup-banner.png' %}" src="{% static 'images/item/auto-popup-banner.png' %}" alt="home-01">
        <button type="button" class="btn-close position-absolute top-0 end-0 m-2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-bottom p-4">
        <h4 class="text-center mb-2">Don’t miss out</h4>
        <h6 class="text-center mb-4">Be the first one to get the new product at early bird prices.</h6>
        <form id="subscribe-form" method="post" novalidate>
          {% csrf_token %}
          <div id="subscribe-content" class="mb-3">
            <input
              type="email"
              name="email"
              id="subscribe-email"
              placeholder="Email *"
              required
              class="form-control"
              aria-label="Email address"
            >
          </div>
          <button
            type="button"
            id="subscribe-button"
            class="tf-btn btn-fill radius-3 animate-hover-btn w-100 justify-content-center"
          >
            Keep me updated
          </button>
          <div id="subscribe-msg" class="text-center mt-3 text-success"></div>
        </form>
        <div class="text-center mt-3">
          <a href="#" data-bs-dismiss="modal" class="tf-btn btn-line fw-6 btn-hide-popup">Not interested</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /auto popup  -->




<!--blog post mobile side bar menu-->



    <!-- sidebarmobile -->
    <div class="offcanvas offcanvas-end canvas-sidebar canvas-sidebar-blog" id="sidebarmobile">
        <div class="canvas-wrapper">
            <div class="canvas-header">
                <span class="title">SIDEBAR</span>
                <span class="icon-close icon-close-popup" data-bs-dismiss="offcanvas" aria-label="Close"></span>
            </div>
            <div class="mb-canvas-content canvas-body">
                <aside class="tf-section-sidebar">
                    <div class="sidebar-item sidebar-categories">
                        <div class="sidebar-title">Blog categories</div>
                        <div class="sidebar-content">
                            <ul>
                                <li>
                                    <a href="#">Accessories<span>(9)</span></a>
                                </li>
                                <li>
                                    <a href="#">Bag<span>(9)</span></a>
                                </li>
                                <li>
                                    <a href="#">Cookware & Kitchen<span>(9)</span></a>
                                </li>
                                <li>
                                    <a href="#">Decor<span>(9)</span></a>
                                </li>
                                <li>
                                    <a href="#">Decorate<span>(9)</span></a>
                                </li>
                                <li>
                                    <a href="#">Denim<span>(9)</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-item sidebar-post">
                        <div class="sidebar-title">Recent Post</div>
                        <div class="sidebar-content">
                            <ul>
                                <li>
                                    <div class="blog-article-item style-sidebar">
                                        <div class="article-thumb">
                                            <a href="blog-detail.html">
                                                <img src="{% static 'images/shop/article/sidebar-1.jpg' %}" alt="">
                                            </a>
                                        </div>
                                        <div class="article-content">
                                            <div class="article-label">
                                                <a href="blog-detail.html"
                                                    class="tf-btn btn-sm radius-3 btn-fill animate-hover-btn">Accessories</a>
                                            </div>
                                            <div class="article-title">
                                                <a href="blog-detail.html" class="">Effortlessly Blends The Carefree
                                                    Style</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="blog-article-item style-sidebar">
                                        <div class="article-thumb">
                                            <a href="blog-detail.html">
                                                <img src="{% static 'images/shop/article/sidebar-2.jpg' %}" alt="">
                                            </a>
                                        </div>
                                        <div class="article-content">
                                            <div class="article-label">
                                                <a href="blog-detail.html"
                                                    class="tf-btn btn-sm radius-3 btn-fill animate-hover-btn">Accessories</a>
                                            </div>
                                            <div class="article-title">
                                                <a href="blog-detail.html" class="">The Limited Edition Club des Sports
                                                    Courchevel</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="blog-article-item style-sidebar">
                                        <div class="article-thumb">
                                            <a href="blog-detail.html">
                                                <img src="{% static 'images/shop/article/sidebar-3.jpg' %}" alt="">
                                            </a>
                                        </div>
                                        <div class="article-content">
                                            <div class="article-label">
                                                <a href="blog-detail.html"
                                                    class="tf-btn btn-sm radius-3 btn-fill animate-hover-btn">Fashion</a>
                                            </div>
                                            <div class="article-title">
                                                <a href="blog-detail.html" class="">Christine Is A True Style Icon</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-item sidebar-tags">
                        <div class="sidebar-title">Blog tags</div>
                        <div class="sidebar-content">
                            <ul class="tags-lists">
                                <li>
                                    <a href="#" class="tags-item">Bags</a>
                                </li>
                                <li>
                                    <a href="#" class="tags-item">Fashion</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-item sidebar-instagram">
                        <div class="sidebar-title">Instagram</div>
                        <div class="sidebar-content">
                            <ul>
                                <li>
                                    <img src="{% static 'images/shop/file/img-1.jpg' %}" alt="">
                                </li>
                                <li>
                                    <img src="{% static 'images/shop/file/img-2.jpg' %}" alt="">
                                </li>
                                <li>
                                    <img src="{% static 'images/shop/file/img-3.jpg' %}" alt="">
                                </li>
                                <li>
                                    <img src="{% static 'images/shop/file/img-4.jpg' %}" alt="">
                                </li>
                                <li>
                                    <img src="{% static 'images/shop/file/img-5.jpg' %}" alt="">
                                </li>
                                <li>
                                    <img src="{% static 'images/shop/file/img-6.png' %}" alt="">
                                </li>

                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>


    </div>
    <!-- /sidebarmobile -->




<script>
document.addEventListener("DOMContentLoaded", function () {
    const popupKey = 'newsletter_popup_closed_until';
    const modalElement = document.querySelector('.modal-newleter');
    const modal = new bootstrap.Modal(modalElement);
    const messageDiv = document.getElementById("subscribe-msg");
    const emailInput = document.getElementById("subscribe-email");
    const subscribeButton = document.getElementById("subscribe-button");

    // CSRF token from Django template context (make sure to pass it in your template!)
    const csrftoken = "{{ csrf_token }}";

    // Check if popup should be shown
    const storedUntil = localStorage.getItem(popupKey);
    const now = Date.now();

    if (!storedUntil || now > parseInt(storedUntil)) {
        modal.show();
    }

    // Function to set 2-week expiration
    function setPopupExpiration() {
        const twoWeeksMs = 14 * 24 * 60 * 60 * 1000; // 14 days in milliseconds
        const expireAt = Date.now() + twoWeeksMs;
        localStorage.setItem(popupKey, expireAt.toString());
    }

    // Basic email format validation
    function validateEmail(email) {
        const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return re.test(email);
    }

    subscribeButton.addEventListener("click", function () {
        const email = emailInput.value.trim();
        messageDiv.textContent = "";

        if (email === "" || !validateEmail(email)) {
            messageDiv.innerHTML = "<p class='text-danger'>Please enter a valid email.</p>";
            emailInput.focus();
            return;
        }

        // Disable button to prevent multiple clicks
        subscribeButton.disabled = true;
        subscribeButton.textContent = "Submitting...";

        // Send AJAX POST request to Django backend
        fetch("{% url 'newsletter:newsletter_subscribe' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
                "X-CSRFToken": csrftoken
            },
            body: new URLSearchParams({ email: email })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === "success") {
                messageDiv.innerHTML = `<p class="text-success">${data.message}</p>`;
                setPopupExpiration();
                setTimeout(() => modal.hide(), 2000);
            } else if (data.status === "exists") {
                messageDiv.innerHTML = `<p class="text-info">${data.message}</p>`;
                setPopupExpiration();
                setTimeout(() => modal.hide(), 2000);
            } else {
                messageDiv.innerHTML = `<p class="text-danger">${data.message || "An error occurred."}</p>`;
            }
        })
        .catch(() => {
            messageDiv.innerHTML = "<p class='text-danger'>Connection error. Please try again.</p>";
        })
        .finally(() => {
            subscribeButton.disabled = false;
            subscribeButton.textContent = "Keep me updated";
        });
    });

    // Handle all dismiss buttons to set expiration too
    document.querySelectorAll('.btn-hide-popup').forEach(function (btn) {
        btn.addEventListener("click", function () {
            setPopupExpiration();
        });
    });
});
</script>





<!-- footer subscribe email-->
<script>
document.addEventListener("DOMContentLoaded", function () {
    const footerEmailInput = document.getElementById("footer-subscribe-email");
    const footerSubscribeButton = document.getElementById("footer-subscribe-button");
    const footerMessageDiv = document.getElementById("footer-subscribe-msg");
    const footerForm = document.getElementById("footer-subscribe-form");

    const csrftoken = "{{ csrf_token }}";

    if (!footerSubscribeButton) return;

    footerSubscribeButton.addEventListener("click", function () {
        const email = footerEmailInput.value.trim();
        footerMessageDiv.textContent = "";

        if (!email || !/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)) {
            footerMessageDiv.innerHTML = "<p class='text-danger'>Please enter a valid email.</p>";
            return;
        }

        footerSubscribeButton.disabled = true;
        footerSubscribeButton.textContent = "Submitting...";

        fetch("{% url 'newsletter:newsletter_subscribe' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
                "X-CSRFToken": csrftoken,
            },
            body: new URLSearchParams({ email: email })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === "success") {
                footerMessageDiv.innerHTML = `<p class="text-success">${data.message}</p>`;
                footerForm.reset();
            } else if (data.status === "exists") {
                footerMessageDiv.innerHTML = `<p class="text-info">${data.message}</p>`;
            } else {
                footerMessageDiv.innerHTML = `<p class="text-danger">${data.message || "An error occurred."}</p>`;
            }
        })
        .catch(() => {
            footerMessageDiv.innerHTML = "<p class='text-danger'>Connection error. Please try again.</p>";
        })
        .finally(() => {
            footerSubscribeButton.disabled = false;
            footerSubscribeButton.textContent = "Subscribe";
        });
    });
});
</script>

