{% extends "base.html" %}
{% load static %}
{% block title %}Blog Detail{% endblock title %}

{% block content %}

<!-- blog-detail -->
<div class="blog-detail">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-detail-main">
                    <div class="blog-detail-main-heading">

                        {% if post.tags.exists %}
                        <ul class="tags-lists justify-content-center">
                            {% for tag in post.tags.all %}
                            <li>
                                <a href="{% url 'blog:tag' tag.slug %}" class="tags-item">{{ tag.name|upper }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                        <div class="title">{{ post.title }}</div>
                        <div class="meta">by <span>{{ post.author }}</span> on <span>{{ post.publish|date:"M d" }}</span></div>

                        {% if post.images.all %}
                        <div class="image">
                            <img class="lazyload" data-src="{{ post.images.all.0.image.url }}" src="{{ post.images.all.0.image.url }}" alt="{{ post.title }}">
                        </div>
                        {% endif %}
                    </div>

                    {% if post.excerpt %}
                    <blockquote>
                        <div class="icon">
                            <img src="{% static 'images/item/quote.svg' %}" alt="">
                        </div>
                        <div class="text">{{ post.excerpt }}</div>
                    </blockquote>
                    {% endif %}

                    {% with images=post.images.all %}
                    {% if images|length >= 2 %}
                    <div class="grid-image">
                        <div>
                            <img class="lazyload" data-src="{{ images.0.image.url }}" src="{{ images.0.image.url }}" alt="{{ post.title }}">
                        </div>
                        <div>
                            <img class="lazyload" data-src="{{ images.1.image.url }}" src="{{ images.1.image.url }}" alt="{{ post.title }}">
                        </div>
                    </div>
                    {% endif %}
                    {% endwith %}

                    <div class="desc">{{ post.description|safe }}</div>

                    <div class="bot d-flex justify-content-between flex-wrap align-items-center">
                        {% if post.tags.exists %}
                        <ul class="tags-lists">
                            {% for tag in post.tags.all %}
                            <li>
                                <a href="{% url 'blog:tag' tag.slug %}" class="tags-item"><span>{{ tag.name }}</span></a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <div class="d-flex align-items-center gap-20">
                            <p>Share:</p>
                            <ul class="tf-social-icon d-flex style-default">
                                <li><a href="#" class="box-icon round social-facebook border-line-black"><i class="icon fs-14 icon-fb"></i></a></li>
                                <li><a href="#" class="box-icon round social-twiter border-line-black"><i class="icon fs-12 icon-Icon-x"></i></a></li>
                                <li><a href="#" class="box-icon round social-instagram border-line-black"><i class="icon fs-14 icon-instagram"></i></a></li>
                                <li><a href="#" class="box-icon round social-tiktok border-line-black"><i class="icon fs-14 icon-tiktok"></i></a></li>
                                <li><a href="#" class="box-icon round social-pinterest border-line-black"><i class="icon fs-14 icon-pinterest-1"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="tf-article-navigation">
                        {% if previous_post %}
                        <div class="item position-relative d-flex w-100 prev">
                            <a href="{{ previous_post.get_absolute_url }}" class="icon">
                                <i class="icon-arrow-left"></i>
                            </a>
                            <div class="inner">
                                <a href="{{ previous_post.get_absolute_url }}">PREVIOUS</a>
                                <h6><a href="{{ previous_post.get_absolute_url }}">{{ previous_post.title }}</a></h6>
                            </div>
                        </div>
                        {% endif %}
                        {% if next_post %}
                        <div class="item position-relative d-flex w-100 justify-content-end next">
                            <div class="inner text-end">
                                <a href="{{ next_post.get_absolute_url }}">NEXT</a>
                                <h6><a href="{{ next_post.get_absolute_url }}">{{ next_post.title }}</a></h6>
                            </div>
                            <a href="{{ next_post.get_absolute_url }}" class="icon">
                                <i class="icon-arrow-right"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="btn-sidebar-mobile d-flex">
    <button data-bs-toggle="offcanvas" data-bs-target="#sidebarmobile" aria-controls="offcanvasRight">
        <i class="icon-open"></i>
    </button>
</div>
<!-- /blog-detail -->

<!-- Related Articles -->
{% if related_posts %}
<section class="mb_30">
    <div class="container">
        <div class="flat-title">
            <h5 class="">Related Articles</h5>
        </div>
        <div class="hover-sw-nav view-default hover-sw-5">
            <div dir="ltr" class="swiper tf-sw-recent" data-preview="3" data-tablet="2" data-mobile="1"
                data-space-lg="30" data-space-md="30" data-space="15" data-pagination="1" data-pagination-md="1"
                data-pagination-lg="1">
                <div class="swiper-wrapper">
                    {% for item in related_posts %}
                    <div class="swiper-slide" lazy="true">
                        <div class="blog-article-item">
                            <div class="article-thumb radius-10">
                                <a href="{{ item.get_absolute_url }}">
                                    <img class="lazyload" data-src="{{ item.images.all.0.image.url }}" src="{{ item.images.all.0.image.url }}" alt="{{ item.title }}">
                                </a>
                                <div class="article-label">
                                    <a href="{% url 'shop:collection_list' %}"
                                        class="tf-btn style-2 btn-fill radius-3 animate-hover-btn">Shop collection</a>
                                </div>
                            </div>
                            <div class="article-content">
                                <div class="article-title">
                                    <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                </div>
                                <div class="article-btn">
                                    <a href="{{ item.get_absolute_url }}" class="tf-btn btn-line fw-6">Read more<i class="icon icon-arrow1-top-left"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="nav-sw nav-next-slider nav-next-recent box-icon w_46 round"><span class="icon icon-arrow-left"></span></div>
            <div class="nav-sw nav-prev-slider nav-prev-recent box-icon w_46 round"><span class="icon icon-arrow-right"></span></div>
            <div class="sw-dots d-flex style-2 sw-pagination-recent justify-content-center"></div>
        </div>
    </div>
</section>
{% endif %}
<!-- /Related Articles -->

{% endblock content %}
